@font-face {
    font-family: 'alagard';
    src: url('alagard.ttf');
}

body 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'alagard';
}

.hidden
{
    display: none !important;
}

.ui-container
{
    position: absolute;
    top: 25vh;
    left: 25%;
    background-color: rgb(172, 168, 168);
    display: grid;
    width: 50%;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-image: url('textures/ui-bg.jpg');
}

.ui-container button
{
    width: 200px;
    height: 60px;
    font-size: 1.5em;
    border: 0;
    cursor: pointer;
    font-family: 'alagard';
    background-image: url(textures/ui-button.png);
    background-size: 64px;
    color: antiquewhite;
}

.ui-container button:hover
{
    box-shadow: 1px 1px 8px gray;
}

.texture
{
    display: none;
}

#coinsContainer
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    margin: 10px;
}